* {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  background-color: green;
  color: white;
  font-weight: bold;
  text-align: center;
}
h1 {
  color: goldenrod;
}
#message-el {
  font-style: italic;
}
button {
  color: green;
  font-weight: bold;
  width: 150px;
  background: goldenrod;
  cursor: pointer;
  padding-top: 10px;
  padding-bottom: 10px;
  border: none;
  border-radius: 5px;
  margin-bottom: 4px;
  margin-top:4px;
}
